@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your favourite website</h1>
    <p class="lead">PhotoList</p>
    <a asp-controller="Photo" asp-action="Photo" class="btn btn-primary">My Photos</a>
</div>
